<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>kycode</key>
<string>22a0111e50f2e2d766fb7cf87b20fcae</string>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://ccpic.wanmeiyueyu.com/Data/kyco/Aqu/kuaiyongco2901_2/001/kuaiyong.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://pic.wanmeiyueyu.com/Data/APPINFOR/27/68/com.kuaiyong.browser/icon1.3.2.png</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://pic.wanmeiyueyu.com/Data/APPINFOR/27/68/com.kuaiyong.browser/icon1.3.2.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>CHx5x6HaAT0cPmmjkLa9Xb.cGkQXoxX.a9tU02v7AGFjsvzSU.d9VjvF6rGF1yNv6RzXELBI</string>
<key>bundle-version</key>
<string>1.3.2</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>快用--免越狱，免账号，百万正版应用极速免费装</string>
</dict>
</dict>
</array>
</dict>
</plist>

